/*----------------------  css header y body index -----------*/
 .texto2{
    background-color: rgb(83, 147, 243);
    float: center;
    width: 933.09px;
    margin-top: 0px;
    min-height: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
 }

 .texto2 p{

    margin: 30px;
    margin-top: 0px;
    font-family: monospace;
    font-size: 15px;

}
.submenu{
    position: absolute;
    background: 333333;
    width: 130%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;

}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family:'Open sans';
    text-decoration: none;
}

nav a:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*-----------Listas ------------------------https://blog.endeos.com/lleva-las-listas-html-al-siguiente-nivel-con-css/*/
#lista2 {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin: 30px;

}

#lista2 ol {
    margin: 10px 10px 10px 2em; 
}

#lista2 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

#lista2 li:hover{
    background: #eee;
}

#lista2 li:hover:before{
    transform: rotate(360deg);  
}

#lista2 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}